:root {
    --COLOR-WHITE: rgba(255, 255, 255, 1);
    --COLOR-BLACK: rgba(26, 26, 26, 1);
    --COLOR-SHADOW: rgba(0, 0, 0, 0.2);

    --COLOR-LIGHT-PINK: rgba(247, 37, 133, 0.7);
    --COLOR-PINK: rgba(247, 37, 133, 1);
    --COLOR-PURPLE: rgb(162, 10, 238);
    --COLOR-BLUE: rgba(67, 97, 238, 1);
    --COLOR-LIGHT-BLUE: rgba(76, 201, 240, 1);
    --COLOR-LIGHT-GRAY: rgba(134, 146, 166, 1);
  
    --TEXT-ENORMOUS: 40px;
    --TEXT-BIGGEST: 32px;
    --TEXT-BIG: 24px;
    --TEXT-MEDIUM: 20px;
    --TEXT-REGULAR: 16px;
    --TEXT-SMALL: 12px;
    --TEXT-SMALLEST: 5px;

    --CARD-WIDTH: 300px;
    --CARD-HEIGHT: 200px;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 1vw 3vw;
    font-size: var(--TEXT-REGULAR);
    color: var(--COLOR-BLACK);
}
